ul{
  padding: 0;
  margin:0;
  padding-left:20px;
}

li{
  text-transform: capitalize;
}

.slide-content li{
  margin-bottom: 20px;
}

.app{
  background-image: url('react-icon.png');
  background-repeat: no-repeat;
  background-position: 109% 133%;
}

.presentation{
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.97);
  color:white;
  padding: 80px 100px;
  box-sizing: border-box;
}

.content-img{
  max-width:80%;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:80%;
}

.content-img.jsx{
  background-image: url('./jsx.PNG');
  height: 400px;
}

.content-img.separate-components{
  background-image: url('./separate-components.PNG');
  height: 407px;
  margin-top: -30px;
}

.content-img.separate-components-names{
  background-image: url('./separate-components-names.PNG');
  height: 407px;
  margin-top: -30px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slide-title{
  color: orange;
  width: 100%;
  height: 20%;
  font-size: 54px;
  margin-bottom: 50px;
}

.slide-content{
  font-size: 24px;
}

.toolbar{
  position: fixed;
  bottom: 30px;
  left: 80px;
}

.toolbar ul{
  list-style: none;
}

.toolbar li{
  display: inline-block;
  margin-right: 15px;
}

.slide-number{
  width: 15px;
  height: 15px;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px;
  line-height: 15px;
  text-align: center;
}

.slide-number:hover, .slide-number.selected:hover{
  background: lightgrey;
  cursor: pointer;
}

.slide-number.selected{
  background-color: lightcoral;
  color: white;
}

.source-code{
  margin-top:30px;
  height: 350px;
  overflow: auto;
}


